@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    background-color: #cd853f;
    color: #333;
}



a{
    text-decoration: none;
}

/*ヘッダー*/
.header{
    padding: 30px 30px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    width: 115px;
    height: 55px;
}

.header .nav{
    display: flex;
    list-style: none;
    font-size: 1.5rem;    
}

.nav a:link,a:visited{
    color: #333;
}

.nav a:hover,a:active{
    color:#333;
}

.nav-item{
    padding-left: 20px;
}

/*top*/

.top-img{
    background: url(img/main.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    position: relative;
    height: 600px;
}


.top-setsumei{
    position: absolute;
    display: block;
    width: 280px;
    height: 240px;
    top: 225px;
    left: 50px;
    padding: 50px 30px;
    background-color: #f5deb3;
    opacity: 1;
    border-radius: 2%;
    
    
}


.top-title{
    font-size: 2rem;
    line-height: 1.5;

}

.top-text{
    font-size: 1.6rem;
    padding-top: 20px;
    line-height: 1.7;
}



/*限定*/

.limited{
    padding: 50px 0px;
}

.limited-exhibition{
    display: flex;
     padding:50px;
    
}

.limited-img{
    width: 400px;
    height: 300px;
}

.limited-exhibition-item-01{
    padding-left: 50px;
    padding-top: 50px;
}

.limited-exhibition-item-02{
    padding-right: 50px;
    padding-top: 50px;
}

.limited-title{
    font-size: 2rem;
}

.limited-text{
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    padding-top: 20px;
}

/*menu*/

.title{ 
    display: block;
    font-size: 2rem;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.title::before,
.title::after{
    content:'';
   display: inline-block;
   width: 300px;
   height: 1px;
   background-color: #333;
   margin: 0 30px;
   vertical-align: middle;

}

.grid-menu{
    display: grid ;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   padding: 0px 50px 100px 50px;
    
}
.grid-menu img{
    width: 100%;
}

/*accses*/

.accses{
    padding-top: 50px;
    text-align: center;
    background-color: darkkhaki;
}


.accses-text span{
    font-size: 1.5rem;
    font-weight: bold;
}

.accses-text{
    font-size: 1.5rem;
    line-height: 1.7;
    padding-top: 20px;
}


.accses-img{
    width: 100%;
    height: 150px;
   object-fit: cover;
   padding-top: 50px;
}

.footer{
    text-align: center;
    padding: 30px;
    font-size: 1.2rem;
    background-color: #fff;
}

